:root {
}

.settings-row {
    width: 100%;
    height: 100px;
    background-image: url("project://database/Assets/StaticAssets/UI/Border/panel-border-027.png?fileID=2800000&guid=748e928a7ebc88a439bd86575568accd&type=3#panel-border-027");
    -unity-slice-left: 32;
    -unity-slice-top: 32;
    -unity-slice-right: 32;
    -unity-slice-bottom: 32;
    -unity-background-image-tint-color: rgb(190, 190, 190);
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 18px;
    padding-right: 32px;
    flex-direction: row;
    margin-bottom: 8px;
}

.base-font {
    -unity-font-definition: url("project://database/Assets/StaticAssets/Font/Lora-Italic-VariableFont_wght.ttf?fileID=12800000&guid=bbc2891b3dc7a454eaeb315fda54e605&type=3#Lora-Italic-VariableFont_wght");
    font-size: 24px;
    -unity-background-image-tint-color: rgb(178, 92, 92);
    background-color: rgba(255, 255, 255, 0);
    -unity-font-style: bold;
    color: rgb(46, 46, 46);
}
